/*Estrurua do site*/
* {
    margin: 0px;
    padding: 0px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        background-image: url(../imagens/bg.png);
        margin: 15px;

    }
    #container {
        background-color: #ede9cc;
        margin: 0px auto;
        min-width: 740px;
        max-width: 1180px;

    }

    #topo {
        position: relative;
        background-color: #dbcd87;
        height: 15.4em;
        min-height: 250px;

    }

    #area-logo {
        position: absolute;
background-image: url(../imagens/topo-imagem-principal2.png);
background-repeat: no-repeat;
width: 100%;
height: 250px;
top: 0px;
left: 0px;
z-index: 1;
    }

    .logo a {
position: absolute;
top: 15px;
left: 15px;
z-index: 3;
background-image: url(../imagens/logo.png);
background-repeat: no-repeat;
width: 151px;
height: 66px;
text-indent: -9999px;

    }

    #area-menu {
        position: absolute;
        top: 0px;
        right: 0px;
background-image: url(../imagens/topo-imagem-lateral.png);
background-repeat: no-repeat;
width: 450px;
height: 250px;
z-index: 2;
    }

    #conteudo-menu {
        margin-left: 90px;
        margin-right: 15px;
        padding-top: 15px;
    }

    #menu-locais {
        border-bottom: 1px solid #b5ab56;
        border-top: 1px solid #b5ab56;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 0.7em;
     
    }
    #menu-locais a {
        color: #8b8448;
        padding: 10px;
        text-align: center;
        line-height: 2.1em;
        float: left;
    }
    .reservar {
        background-color: #a29750;
        color: #fff5b0;
        padding: 10px;
        font-size: 1.0em;
        text-transform: uppercase;
                float: right;
    }
    